@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    margin:0;
    padding:0;
}
body{
    font: 1.3em/2em 'Montserrat', sans-serif;
    color: black;
    margin:0;
    padding: 0;
    background-color:rgba(80, 140, 210, 0.8);
    /*background: linear-gradient(to right, rgba(80, 140, 210, 0.7),rgba(80, 140, 210, 0), rgba(24, 43, 63, 0.7)); */
    /* Sintaxa standard */
   /* background: linear-gradient(to right, rgba(80, 140, 210, 0.7),rgba(80, 140, 210, 0));
    /* Safari 5.1 - 6.0 */
   /* background: -webkit-linear-gradient(to right,rgba(80, 140, 210, 0.7),rgba(80, 140, 210, 0));
    /* Opera 11.1 - 12.0 */
    /*background: -o-linear-gradient(to right,rgba(80, 140, 210, 0.7),rgba(80, 140, 210, 0));
    /* Firefox 3.6 - 15 */
   /* background: -moz-linear-gradient(to right, rgba(80, 140, 210, 0.7),rgba(80, 140, 210, 0));*/
   /* Sintaxa standard */
    background: radial-gradient(rgba(80, 140, 210, 0),rgba(80, 140, 210, 0.9)); 
    /* Safari 5.1 - 6.0 */
    background: -webkit-radial-gradient(rgba(80, 140, 210, 0),rgba(80, 140, 210, 0.9)); 
    /* Opera 11.1 - 12.0 */
    background: -o-radial-gradient(rgba(80, 140, 210, 0),rgba(80, 140, 210, 0.9)); 
    /* Firefox 3.6 - 15 */
    background: -moz-radial-gradient(rgba(80, 140, 210, 0),rgba(80, 140, 210, 0.9)); 

}
*{
    box-sizing: border-box;
}
a:link { 
    color: white;
    padding: 25px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}
a:visited { 
    color: rgb(252, 252, 252);
}
a:hover { 
    background-color: rgb(235, 180, 5);
    color: white;
}
a:active { 
    color: #ffa600;
}
.menu a{
    display: inline;
}
.menu, .content, .footer {
    margin:0 auto;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}
.menu, .footer {
    background-color: rgb(20, 105, 185);
}
.menu span{
    text-transform: uppercase;
    color:  rgb(248, 217, 116);
    font-size: 1.3em;
    margin-right: 10px;
    padding: 23px;
    font-weight: bold;
}
.footer{
    color: white;
    clear: both;
}
.content{
    margin-top: 70px;
}
.text span {
    color:rgb(20, 105, 185);
}
h1{
    text-align: center;
    color:rgb(37, 33, 33);
}
p{
    padding: 10px;
    font-size: 1.1em;
    color:rgb(37, 33, 33);
}
.menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
.text{
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/background.png");
}
.text p{
    padding: 15px;
    width:100%;
    font-size: 1.1em;
    color: white;
    margin:0;
    background-color: rgba(20, 105, 185, 0.9);
}
.content .images img {    
    margin: 10px;
    border: 5px solid rgb(20, 105, 185);
    width: auto;
    height: 60vh; 
    box-sizing: border-box;
}