@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    margin:0;
    padding:0;
}
body{
    font: 1.3em/2em 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    background-color:rgba(80, 140, 210, 0.7);
}
*{
    box-sizing: border-box;
}
a:link { 
    color: white;
    padding: 25px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}
a:visited { 
    color: rgb(252, 252, 252);
}
a:hover { 
    background-color: rgb(235, 180, 5);
    color: white;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}
a:active { 
    color: #ffa600;
}
.menu a{
    display: inline;
}
.menu, .content, .footer {
    margin:0 auto;
    width: 100%;
}
.menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
.content{
    margin-top: 80px;
    padding: 0;
}
.menu, .footer {
    background-color: rgb(20, 105, 185);
    padding: 17px;
    text-align: center;
}
.menu span{
    text-transform: uppercase;
    color:  rgb(248, 217, 116);
    font-size: 1.3em;
    margin-right: 10px;
    padding: 23px;
    font-weight: bold;
}
.footer{
    color: white;
    clear: both;
}
.text h1{
    text-align: center;
    color: white;
    font-size: 2em;
    background-color: rgba(235, 180, 5, 0.5);
    padding: 20px 0;
}
.text p{
    padding: 14px;
    width:100%;
    font-size: 1.1em;
    color: white;
    margin:0;
    background-color: rgba(20, 105, 185, 0.7);
}
.content .images{
    margin:10px 0;
    padding:3px;
    float: left;
}
.content img {
    max-width: auto;
    height: 45vh; 
    margin: 0 5px;
    border: 5px solid rgb(20, 105, 185);
    padding: 0;
}
.content .text{
    margin:10px 0;
    padding:3px;
    background-image: url("../images/snowdrop.jpg");
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid rgb(20, 105, 185);
    float: right;
}
[class*="col-"] {     
    width: 100%; 
}

@media only screen and (min-width: 880px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    a:link { 
        font-size: 1.2em;
    }
}
