@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
    margin:0;
    padding:0;
}
body{
    font: 1.3em/2em 'Montserrat', sans-serif;
    color:rgb(37, 33, 33);
    margin:0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
a:link { 
    color: white;
    padding: 25px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}
a:visited { 
    color: rgb(252, 252, 252);
}
a:hover { 
    background-color: rgb(235, 180, 5);
    color: white;
}
a:active { 
    color: #ffa600;
}
.menu a{
    display: inline;
}
.menu, .content, .footer {
    margin:0 auto;
    padding: 17px 0;
    text-align: center;
    width: 100%;
}
.menu, .footer {
    background-color: rgb(20, 105, 185);
}
.menu span{
    text-transform: uppercase;
    color:  rgb(248, 217, 116);
    font-size: 1.3em;
    margin-right: 10px;
    padding: 23px;
    font-weight: bold;
}
.footer{
    color: white;
    clear: both;
}
.content{
    margin-top: 70px;
}
.text span {
    color:rgb(20, 105, 185);
}
h1{
    text-align: center;
    color:rgb(37, 33, 33);
}
p{
    padding: 10px;
    font-size: 1.1em;
    color:rgb(37, 33, 33);
}
.menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}
.text{
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/background.png");
}
.text p{
    padding: 15px;
    width:100%;
    font-size: 1.1em;
    color: white;
    margin:0;
    background-color: rgba(20, 105, 185, 0.9);
}
.content .images img {    
    margin: 10px;
    border: 5px solid rgb(20, 105, 185);
    width: auto;
    height: 60vh; 
    box-sizing: border-box;
}
.original { 
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.22);
}
img:hover {
    -webkit-filter: inherit; 
    filter: inherit; 
}
.grayscale {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.22);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}
.blur {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.22);
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px); 
}
.sepia {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 5px rgba(0, 0, 0, 0.22);
    -webkit-filter: sepia(70%); 
    filter:sepia(70%); 
}



