@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    font: 1.3em/2em 'Montserrat', sans-serif;
    background-color: #F0F8FF;
}
h1, h2 {
    color: rgb(20, 105, 185);
}

p{
    padding: 10px;
    color:  white;
    font-size: 1.2em;
    background-color: rgb(20, 105, 185);
}

.otherStyle{
    color: #F8F8FF;
    font-size: 1.2em;
    background-color: rgb(80, 140, 210);
}
.round{
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 3px 2px rgb(235, 180, 5);
    padding: 5px;
    width: 50%;
}

#textStyle{
    color:  rgb(20, 105, 185);
    background-color: rgb(235, 180, 5);
}
.serif{
    font: italic bold 1.3em Georgia, serif;
}
.sansSerif{
    font-family: Arial, Helvetica, sans-serif;
}
 




/*

font-size: 1.4em; 
rgb(80, 140, 210); - albastru deschis
background-color: rgb(20, 105, 185); - albastru inchis
 color: rgb(235, 180, 5); -galben
*/