/*css reset start*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*css reset end*/


body {
    background-color: rgb(191, 191, 189);
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 0;
    margin-top: 85px;
}

.card {
    width: 27%;
    margin: 3%;
    padding: 5px;
    text-align: center;
}

.card h3 {
    color: #fff;
    font-weight: bold;
}

.photo_oval {
    height: 180px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 1px 5px 11px 7px rgba(170, 118, 85, 0.73);
    max-width: 300px;
}

.photo_oval_vertical {
    width: 180px;
    height: 300px;
}
